<?xml version="1.0"?>
<!--
/**
 * Atwix
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.

 * @category    Atwix Ext
 * @package     Atwix_Segmentio
 * @author      Atwix Core Team
 * @copyright   Copyright (c) 2014 Atwix (http://www.atwix.com)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */-->
<config>
    <modules>
        <Atwix_Segmentio>
            <version>1.0.0</version>
        </Atwix_Segmentio>
    </modules>
    <global>
        <blocks>
            <atwix_segmentio>
                <class>Atwix_Segmentio_Block</class>
            </atwix_segmentio>
        </blocks>
        <helpers>
            <atwix_segmentio>
                <class>Atwix_Segmentio_Helper</class>
            </atwix_segmentio>
        </helpers>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <atwix_segmentio>
                        <class>Atwix_Segmentio_Model_Observer</class>
                        <method>addToCartAfter</method>
                    </atwix_segmentio>
                </observers>
            </checkout_cart_product_add_after>
            <sales_quote_remove_item>
                <observers>
                    <atwix_segmentio>
                        <class>Atwix_Segmentio_Model_Observer</class>
                        <method>deleteFromCartAfter</method>
                    </atwix_segmentio>
                </observers>
            </sales_quote_remove_item>
            <wishlist_add_product>
                <observers>
                    <atwix_segmentio>
                        <class>Atwix_Segmentio_Model_Observer</class>
                        <method>wishlistFromCartAfter</method>
                    </atwix_segmentio>
                </observers>
            </wishlist_add_product>
            <review_save_after>
                <observers>
                    <atwix_segmentio>
                        <class>Atwix_Segmentio_Model_Observer</class>
                        <method>reviewProductAfter</method>
                    </atwix_segmentio>
                </observers>
            </review_save_after>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <atwix_segmentio module="Atwix_Segmentio">
                    <file>atwix/segmentio.xml</file>
                </atwix_segmentio>
            </updates>
        </layout>
    </frontend>
    <default>
        <atwix_segmentio>
            <general>
                <active>1</active>
                <segmentio_key />
            </general>
        </atwix_segmentio>
    </default>
</config>