<?xml version="1.0"?>
<!--
/**
 * Segment.io
 *
 * @category    Segment.io Ext
 * @package     Segment_Analytics
 * @author      Segment.io
 * @copyright   Copyright © 2014 Segment.io
 */-->
<config>
    <modules>
        <Segment_Analytics>
            <version>0.1.0</version>
        </Segment_Analytics>
    </modules>
    <global>
        <blocks>
            <segment_analytics>
                <class>Segment_Analytics_Block</class>
            </segment_analytics>
        </blocks>
        <helpers>
            <segment_analytics>
                <class>Segment_Analytics_Helper</class>
            </segment_analytics>
        </helpers>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <segment_analytics>
                        <class>Segment_Analytics_Model_Observer</class>
                        <method>addToCartAfter</method>
                    </segment_analytics>
                </observers>
            </checkout_cart_product_add_after>
            <sales_quote_remove_item>
                <observers>
                    <segment_analytics>
                        <class>Segment_Analytics_Model_Observer</class>
                        <method>deleteFromCartAfter</method>
                    </segment_analytics>
                </observers>
            </sales_quote_remove_item>
            <wishlist_add_product>
                <observers>
                    <segment_analytics>
                        <class>Segment_Analytics_Model_Observer</class>
                        <method>wishlistFromCartAfter</method>
                    </segment_analytics>
                </observers>
            </wishlist_add_product>
            <review_save_after>
                <observers>
                    <segment_analytics>
                        <class>Segment_Analytics_Model_Observer</class>
                        <method>reviewProductAfter</method>
                    </segment_analytics>
                </observers>
            </review_save_after>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <segment_analytics module="Segment_Analytics">
                    <file>segment/analytics.xml</file>
                </segment_analytics>
            </updates>
        </layout>
    </frontend>
    <default>
        <segment_analytics>
            <general>
                <active>1</active>
                <segment_key />
            </general>
        </segment_analytics>
    </default>
</config>