<?xml version="1.0"?>
<!--
/**
 * Segment.io
 *
 * @category    Segment.io Ext
 * @package     Segment_Analytics
 * @author      Segment.io
 * @copyright   Copyright © 2014 Segment.io
 */-->
<config>
    <tabs>
        <!-- TODO: Move this part to separare extension -->
        <segment translate="label" module="segment_analytics">
            <label>Segment.io Extensions</label>
            <sort_order>350</sort_order>
        </segment>
    </tabs>
    <sections>
        <segment_analytics translate="label" module="segment_analytics">
            <class>separator-top</class>
            <label>Segment.io</label>
            <tab>segment</tab>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>General Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enable Segment.io</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <segment_key translate="label">
                            <label>Segment.io Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </segment_key>
                    </fields>
                </general>
            </groups>
        </segment_analytics>
    </sections>
</config>
