<?xml version="1.0"?>
<!--
/**
 * Segment.io
 *
 * @category    Segment.io Ext
 * @package     Segmentio_Segmentio
 * @author      Segment.io
 * @copyright   Copyright © 2014 Segment.io
 */-->
<config>
    <modules>
        <Segmentio_Segmentio>
            <version>0.1.0</version>
        </Segmentio_Segmentio>
    </modules>
    <global>
        <blocks>
            <segmentio_segmentio>
                <class>Segmentio_Segmentio_Block</class>
            </segmentio_segmentio>
        </blocks>
        <helpers>
            <segmentio_segmentio>
                <class>Segmentio_Segmentio_Helper</class>
            </segmentio_segmentio>
        </helpers>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <segmentio_segmentio>
                        <class>Segmentio_Segmentio_Model_Observer</class>
                        <method>addToCartAfter</method>
                    </segmentio_segmentio>
                </observers>
            </checkout_cart_product_add_after>
            <sales_quote_remove_item>
                <observers>
                    <segmentio_segmentio>
                        <class>Segmentio_Segmentio_Model_Observer</class>
                        <method>deleteFromCartAfter</method>
                    </segmentio_segmentio>
                </observers>
            </sales_quote_remove_item>
            <wishlist_add_product>
                <observers>
                    <segmentio_segmentio>
                        <class>Segmentio_Segmentio_Model_Observer</class>
                        <method>wishlistFromCartAfter</method>
                    </segmentio_segmentio>
                </observers>
            </wishlist_add_product>
            <review_save_after>
                <observers>
                    <segmentio_segmentio>
                        <class>Segmentio_Segmentio_Model_Observer</class>
                        <method>reviewProductAfter</method>
                    </segmentio_segmentio>
                </observers>
            </review_save_after>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <segmentio_segmentio module="Segmentio_Segmentio">
                    <file>segmentio/segmentio.xml</file>
                </segmentio_segmentio>
            </updates>
        </layout>
    </frontend>
    <default>
        <segmentio_segmentio>
            <general>
                <active>1</active>
                <segmentio_key />
            </general>
        </segmentio_segmentio>
    </default>
</config>