<?xml version="1.0"?>
<!--
/**
 * Segment.io
 *
 * @category    Segment.io Ext
 * @package     Segmentio_Segmentio
 * @author      Segment.io
 * @copyright   Copyright © 2014 Segment.io
 */-->
<config>
    <tabs>
        <!-- TODO: Move this part to separare extension -->
        <segmentio translate="label" module="segmentio_segmentio">
            <label>Segment.io Extensions</label>
            <sort_order>350</sort_order>
        </segmentio>
    </tabs>
    <sections>
        <segmentio_segmentio translate="label" module="segmentio_segmentio">
            <class>separator-top</class>
            <label>Segment.io</label>
            <tab>segmentio</tab>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>General Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enable Segment.io</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <segmentio_key translate="label">
                            <label>Segment.io Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </segmentio_key>
                    </fields>
                </general>
            </groups>
        </segmentio_segmentio>
    </sections>
</config>
